<div class="container">
	<div class="row">
		<div class="col-md-10 mt-5 mx-auto">
			<form (submit) = "createPackage()">
				<h1 class="h3 mb-3 font-weight-normal">Package Detail</h1>
				<div class="form-group">
					<label for="name">Title</label>
					<input type="name" class="form-control" name="package_title" placeholder="Enter your package_title" [(ngModel)]="credentials.package_title">
				</div>

				<div class="form-group">
					<label for="description">Descripton</label>
					<textarea class="form-control" name="package_description" placeholder="Enter your description" [(ngModel)]="credentials.package_description"></textarea> 
				</div>

				<div class="form-group">
					<label for="duration">Duration</label>
					<input type="text" class="form-control" name="duration" placeholder="Enter package duration" [(ngModel)]="credentials.duration">
				</div>

				<div class="form-group">
					<label for="package_img">Package Images</label>
					<input type="file" class="form-control" (change)="onFileSelected($event)" name="package_img"  [(ngModel)]="credentials.package_img" multiple>
				</div>	 
				
				<div class="">
					<div class="form-group">
						<button type="submit" class="btn btn-primary">Create</button>
					</div> 
				</div>
			</form>
		</div>
	</div>
</div>